/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

// colors
$accentColor = #3eaf7c

$textColor = #2c3e50
$darkTextColor = #000

$borderColor = rgba(#000,.05)
$darkBorderColor = #000

$codeBgColor = #000

$bgColor = #F7F9FB
$headerBgColor = #D7CEC7;

$footerBgColor = #000
$footerColor = #828282

$newsletterBgColor = #f8f8f8

// layout
$contentWidth = 740px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// code
$lineNumbersWrapperWidth = 3.5rem
$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py docker dockerfile makefile